{% extends parent_template|default:'organizer/base_organizer.html' %}

{% block title %}{{ block.super}} - Delete Tag{% endblock %}

{% block content %}
    <div>
        <div>
            <form action="{{ tag.get_delete_url }}" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete tag {{ tag.name }}?</p>
                <button type="submit" class="waves-effect waves-light btn deep-orange darken-1">Delete Tag</button>
                <a href="{{ tag.get_absolute_url }}">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}